@model Contact
@{
    ViewBag.Title = "Delete Contact";
}

<span>Do you really want to delete <b>@Model.FirstName @Model.LastName</b>? </span>

<form asp-action="Delete" method="post">
    <div class="m-4">
        <input type="hidden" asp-for="ContactId" />
        <button type="submit" class="btn btn-dark">Yes</button>
        <a asp-controller="Home" asp-action="Index"
        class="btn btn-dark">No</a>
    </div>
</form>
